name: Build and Publish
permissions:
  contents: read
  packages: write

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GCR_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/containers-docs:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/containers-docs:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update in remote server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo "Updating image..."
            cd /home/${{ secrets.SSH_USER }}/docker/container-docs
            docker compose pull
            docker compose up -d